.container {
    gap: 10px;
    margin: 0px auto;
    display: grid;
    width: 960px;
    grid-template-areas: 'header header header header header header header header header header header header'
        'aside aside aside section section section section section section section section section'
        'one one one one one one two two two two two two'
        'footer footer footer footer footer footer footer footer footer footer footer footer';
}

header {
    grid-area: header;
    height: 200px;
    background-color: aqua;
}

section {
    grid-area: section;
    height: 600px;
    background-color: blueviolet;
}

aside {
    grid-area: aside;
    height: 600px;
    background-color: brown;
}

footer {
    grid-area: footer;
    height: 200px;
    background-color: black;
}

one {
    grid-area: one;
    height: 200px;
    background-color: aquamarine;

}

two {
    grid-area: two;
    height: 200px;
    background-color: aquamarine;
}